app/code/community/Bubble/Api/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <complexType name="catalogProductCreateImageEntity">
                <all>
                    <element name="filename" type="xsd:string"/>
                    <element name="label" type="xsd:string"/>
                    <element name="position" type="xsd:string"/>
                    <element name="exclude" type="xsd:string"/>
                    <element name="url" type="xsd:string"/>
                    <element name="types" type="typens:ArrayOfString"/>
                </all>
            </complexType>
            <complexType name="catalogProductCreateImageEntityArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:catalogProductCreateImageEntity[]"/>
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="catalogProductCreateEntity">
                <all>
                    <element name="associated_skus" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="configurable_attributes" type="typens:ArrayOfString" minOccurs="0"/>
                    <element name="price_changes" type="typens:associativeArray" minOccurs="0" />
                    <element name="images" type="typens:catalogProductCreateImageEntityArray" minOccurs="0"/>
                </all>
            </complexType>
        </schema>
    </types>
</definitions>
