app/code/community/Bubble/Api/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="complexMultiFilter">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string" />
                    <xsd:element name="value" type="typens:associativeArray" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="complexMultiArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:complexMultiFilter" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateImageEntity">
                <xsd:sequence>
                    <xsd:element name="filename" type="xsd:string" />
                    <xsd:element name="label" type="xsd:string" />
                    <xsd:element name="position" type="xsd:string" />
                    <xsd:element name="exclude" type="xsd:string" />
                    <xsd:element name="url" type="xsd:string" />
                    <xsd:element name="types" type="typens:ArrayOfString" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateImageEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:catalogProductCreateImageEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateStoreVisibilityEntity">
                <xsd:sequence>
                    <xsd:element name="store_id" type="xsd:string" />
                    <xsd:element name="visibility" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateStoreVisibilityEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:catalogProductCreateStoreVisibilityEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateEntity">
                <xsd:sequence>
                    <xsd:element name="associated_skus" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="configurable_attributes" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="price_changes" type="typens:complexMultiArray" minOccurs="0" />
                    <xsd:element name="images" type="typens:catalogProductCreateImageEntityArray" minOccurs="0" />
                    <xsd:element name="store_visibility" type="typens:catalogProductCreateStoreVisibilityEntityArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductReturnEntity">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="sku" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="set" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="type" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="categories" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="websites" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="created_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="updated_at" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="type_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="name" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="short_description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="weight" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="status" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="url_key" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="url_path" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="visibility" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="category_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="website_ids" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="has_options" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="gift_message_available" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="price" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="special_price" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="special_from_date" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="special_to_date" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tax_class_id" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="tier_price" type="typens:catalogProductTierPriceEntityArray" minOccurs="0"/>
                    <xsd:element name="meta_title" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="meta_keyword" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="meta_description" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="custom_design" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="custom_layout_update" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="options_container" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="additional_attributes" type="typens:associativeArray" minOccurs="0"/>
                    <xsd:element name="associated_skus" type="typens:ArrayOfString" minOccurs="0"/>
                    <xsd:element name="configurable_attributes" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="price_changes" type="typens:complexMultiArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
