app/code/community/Bubble/Api/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="complexMultiFilter">
                <xsd:sequence>
                    <xsd:element name="key" type="xsd:string" />
                    <xsd:element name="value" type="typens:associativeArray" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="complexMultiArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:complexMultiFilter" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateImageEntity">
                <xsd:sequence>
                    <xsd:element name="filename" type="xsd:string" />
                    <xsd:element name="label" type="xsd:string" />
                    <xsd:element name="position" type="xsd:string" />
                    <xsd:element name="exclude" type="xsd:string" />
                    <xsd:element name="url" type="xsd:string" />
                    <xsd:element name="types" type="typens:ArrayOfString" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateImageEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:catalogProductCreateImageEntity" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="catalogProductCreateEntity">
                <xsd:sequence>
                    <xsd:element name="associated_skus" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="configurable_attributes" type="typens:ArrayOfString" minOccurs="0" />
                    <xsd:element name="price_changes" type="typens:complexMultiArray" minOccurs="0" />
                    <xsd:element name="images" type="typens:catalogProductCreateImageEntityArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
</wsdl:definitions>
